/*body {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.calendar{
    overflow-y:hidden;
    
    padding-bottom:10px!important;
}

.calendar .calendar-header {
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border: 0;
}

    .calendar .calendar-header .year-title {
        font-size: 18px;
    }
    .calendar .months-container .month-container {
        height: 235px!important;
    }
.description {
    padding: 10px;
    background-color: #f0f0f0;
    -webkit-box-shadow: 10px 6px 19px -9px rgba(179,179,179,1);
    -moz-box-shadow: 10px 6px 19px -9px rgba(179,179,179,1);
    box-shadow: 10px 6px 19px -9px rgba(179,179,179,1);
}
    .calendar .calendar-header .year-title:hover,
    .calendar .calendar-header .prev:hover,
    .calendar .calendar-header .next:hover {
        background: rgba(255, 255, 255, 0.2);
    }

        .calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
            border-bottom: 2px solid #ccc;
        }

    .calendar .calendar-header .year-neighbor {
        color: inherit;
        opacity: 0.7;
    }

    .calendar .calendar-header .year-neighbor2 {
        color: inherit;
        opacity: 0.4;
    }

.calendar .months-container .month-container {
    height: 235px;
    margin-bottom: 25px;
}

.calendar table.month {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
}

    .calendar table.month th.month-title {
        background-color: #f0f0f0;
        color: #888;
        padding: 6px;
        font-size: 13px;
        font-weight: 600;
    }

    .calendar table.month th.day-header {
        padding-top: 8px;
        padding-bottom: 5px;
        color: #666;
        font-weight: 500;
    }

    .calendar table.month td.day .day-content {
        color: #666;
        padding: 9px 7px;
        border-radius: 2px;
    }
ol{
    padding:5px;
    margin-bottom:0px!important;

}*/
.fc-event {
    background: #3788d8;
    color:white;
}
/*pwprompt.style.position = "fixed"; //make it fixed as we do not want to move it around
pwprompt.style.left = ((window.innerWidth / 2) - (width / 2)) + "px"; //let it apear in the middle of the page
pwprompt.style.top = ((window.innerWidth / 2) - (width / 2)) + "px"; //let it apear in the middle of the page
pwprompt.style.border = "1px solid black"; //give it a border
pwprompt.style.padding = "16px"; //give it some space
pwprompt.style.background = "white"; //give it some background so its not transparent
pwprompt.style.zIndex = 99999; //put it above everything else - just in case*/
#password_prompt {
    position: fixed;
    width: 200px;
    height: auto;
    position: absolute;
    background-color:white;
    top: 50%;
    left: 49%;
    border:1px solid black;
    padding:10px;
    z-index:9999;
    margin-top: -50px;
    margin-left: -50px;
}
.fc-header-toolbar > .fc-toolbar-chunk:nth-child(2)::before {
    font-size: min(4vw, 30px) !important;
   
    content: 'DE CREATIVE EVENTS';
}
.fc-toolbar-title {
    font-size: min(3vw, 25px)!important;
   
}

@media only screen and (max-width: 600px) {
    .fc-today-button {
        display: none !important;
    }
    .fc-header-toolbar > .fc-toolbar-chunk:nth-child(2)::before {
        font-weight: bold;
    }
}